# Environments
env/
venv/
*.env
.conda/
.vscode/

# Python Cache
__pycache__/
*.pyc

# YOLO & PyTorch
dataset/
runs/
docs/
outputs/
*.cache
*.pt
!model/best.pt  # Keep this exception so your app has weights to run!

# OS Files
.DS_Store
Thumbs.db